*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: auto;
    background-color:#F5F3F0;
    width: 1400px;
    padding: 20px;
    line-height:1.5cm;
    color:#333 ;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color:#A67C52 ;
    margin:20px;
}

.background{
    background-image: url(../images/64184650-b82c-4577-ae36-79ed4427d8ba.png);
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover;
    height: 500px;
}

.flex{
    margin-left: 20px;
    color: white;
}

 a{
    margin-right: 100px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

 a:hover{
    color:#F5F3F0 ;
 }

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 80px;
    background-color: white;
}

.products div{
    border-radius: 8px;
    padding:20px;
    background-color:#A67C52;
    height:400px;
    text-align: center;
    font-size: 20px;
    color: white;
    box-shadow:0 4px 12px rgba(0,0,0,0.08) ;
}
    
.products button{
     font-size: 20px;
     border:none;
     border-radius: 4px;
     background-color:#C9A66B;
     color: white;
     padding: 10px 18px;
     font-weight: 600;
}

.products button:hover{
   background-color:#A67C52 ;
}

.about{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:#ECECEC ;
    gap: 80px;
}

.about div{
    border-radius: 8px;
    padding:10px;
    font-size: 20px;
}

.staff{
    background:#F5F3F0;
    padding: 10px;
    text-align:center;
}

.gallery{
    display: flex;
    justify-content: center;
    border: 3px solid #A67C52;
    padding: 10px;
    gap: 80px;
    margin-bottom: 10px;
    background-color: white;
}

.gallery img{
    width: 268px;
    height: 400px;

}