*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
body{
    margin:auto;
    background-color:#F5F3F0;
    max-width: 1400px;
    padding: 20px;
    line-height:1.5cm;
    color:#333 ;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color:#A67C52 ;
    margin:20px;
}

.background{
    background-image: url(../images/64184650-b82c-4577-ae36-79ed4427d8ba.png);
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover;
    height: 550px;
}

.flex{
    margin-left: 20px;
    color: white;
}

 a{
    margin-right: 100px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

 a:hover{
    color:#F5F3F0 ;
 }

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    background-color: white;
    
}

.products div{
    border-radius: 8px;
    padding:20px;
    background-color:#A67C52;
    height:400px;
    text-align: center;
    font-size: 20px;
    color: white;
    box-shadow:0 4px 12px rgba(0,0,0,0.08) ;
}
    
.products button{
     font-size: 20px;
     border:none;
     border-radius: 4px;
     background-color:#C9A66B;
     color: white;
     padding: 10px 18px;
     font-weight: 600;
}

.products button:hover{
   background-color:#A67C52 ;
}

.about{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:#ECECEC ;
    gap: 80px;
}

.about div{
    border-radius: 8px;
    padding:10px;
    font-size: 20px;
}

.staff{
    background:#e2dada;
    padding: 20px;
    text-align:center;
}

.staff h1{
    color:#5A3E2B ;
    text-decoration: underline;
}

.info{
    display: flex;
    gap: 80px;
    padding: 0px;
    justify-content:left;
}

.info div{
    border-radius: 8px;
    padding: 0px;
    font-size: 18px;
    color:#030303 ;
    line-height: 2.0;
    text-align: left;
}

.description{
    margin-top: 20px;
}

.description h1{
    text-decoration: none;
}

.end{
    display: flex;
    background-color:#A67C52 ;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: 2px;
}

.gallery{
    display:flex;
    justify-content:space-between;
    border: 8px solid #A67C52;
    background-color: #F5F3F0;
}

.staff-card img{
   width: 260px;
   height:350px;
   object-fit:cover;
}

.staff-text:hover{
   background:#C9A66B;
}
.staff-card{
    position: relative;
}
.staff-text{
position:absolute;
bottom:0;
left:0;
width:100%;
background:rgba(90,62,43,0.85);
color:white;
padding:10px;
text-align:center;
}
